---
layout: intro
title: WebCamp Ljubljana 2015
---

<div class="slide" id="about">
	<div class="divider primary">
		<p>what is webcamp</p>
	</div>
	<div class="divider-photo">
		<img src="{{ site.baseurl }}/assets/img/2014/IMG_3357-2.jpg">
		</div>
	<p class="content">
		WebCamp Ljubljana is the unconference where Web developers share knowledge, experience, and vim configurations.
		<br /><br />
		It's organized <b>by the community for the community</b>. There will be over 300 attendees from Slovenia and the region. All talks will be in English.
		<br /><br />
		Topics that will be covered are: <b>Front end</b>, <b>Back end</b> and <b>DevOps</b>.

		There will be three tracks: <b>Front-end</b>, <b>Back-end</b> and <b>DevOps</b>.
		And the fourth, most important one: <b>Good Time</b> with old and new friends,  good coffee and lots and lots of discussions with interesting people.
		<br /><br />
		<a href="{{ site.baseurl }}/code-of-conduct" target="_blank">Code of Conduct</a>
	</p>
</div>
</div>
	<div class="divider-photo">
		<img src="{{ site.baseurl }}/assets/img/2014/IMG_3398.jpg">
	</div>

<!--
<div class="slide" id="talks">
	<div class="divider primary">
		<p>talks / schedule</p>
	</div>
	<div class="content">
		<span class="strong">Applications have closed.</span></br></br>
		<span class="strong">Timeline:</span>
		<ul>
			<li>Friday, February 20th - We notify The Chosen Ones</li>
			<li>Monday, February 23rd - We tell everybody</li>
		</ul>
		<a href="#mailing">Subscribe to our mailing list</a> and you'll be the first to know. </br></br>Tickets will also be announced on the mailing list.
	</div>
</div>
-->

<!--  TALKS  -->

<div class="slide-transparent" id="talks">
	<div class="divider primary">
		<p>talks / schedule</p>
	</div>
	<div class="talkers">
	{% for post in site.posts %}
		{% if post.role == 'talk' %}
		<div class="talkers-one">
			<a class="" href="{{ site.baseurl }}{{ post.url }}">
				<div class="talk-info">
						<h2 class="talker-name">
							{{ post.name }}
						</h2>
						<h2 class="talk-title">
							{{ post.title }}
						</h2>
						<p class="talk-role">
							[ {{ post.track }} ]
						</p>
				</div>
			</a>
		</div>
		{% endif %}
	{% endfor %}
	</div>
</div>

<!--  -->

<div class="divider-photo">
	<img src="{{ site.baseurl }}/assets/img/2014/IMG_3334-2.jpg">
</div>
<div class="slide"  id="cfp">
	<div class="divider primary">
		<p>IoT corner</p>
	</div>
	<div class="content">
		<h2>NEW: WebCamp IoT Corner</h2>
		<p>We’ll also have a dedicated IoT Corner to showcase <span class="strong">cool hardware from startups and garage makers</span>. Want to showcase your gadget or project? To get your spot in the corner, you need:</p>
		<ul>
			<li><span class="strong">Your own crazy/cool hardware</span> that 300 WebCamp attendees can poke.</li>
			<li><span class="strong">A technical person</span> available for troubleshooting and answering technical questions about your project during WebCamp on March 14th.</li>
		</ul>
		<p>You can send your application by the end of February. We’ll confirm your spot one week before the event at the latest.</p>
		<a href='https://webcamp.typeform.com/to/mKF6kS' target="_blank" class="button-link">
		<div class='button-submit'>
			<p>
				Apply for IoT Corner
			</p>
		</div>
		</a>
	</div>
</div>
<div class="divider-photo">	
	<img src="{{ site.baseurl }}/assets/img/2014/IMG_3366-2.jpg">
</div>

<div class="slide" id="tickets">
	<div class="divider primary">
		<p>tickets</p>
	</div>
	<div class="content">
		While <span class="strong">attendance is free</span>, you still need a ticket.
		<a href='http://www.eventbrite.com/e/webcamp-ljubljana-2015-tickets-15608726120' target="_blank" class="button-link">
		<div class='button-submit tickets'>
			<p>
				Eventbrite
			</p>
		</div>
		</a>
		Tickets will go out in <span class="strong">three rounds</span>:<br/>February 18th, <br/>February 25th, <br />March 4th.<br/><br/>
		<span class="strong">Mailing list subscribers get tickets sooner.<br/></span><a href="#mailing">Subscribe</a> so you don’t miss yours.
	</div>
</div>
	<div class="divider-photo">
		<img src="{{ site.baseurl }}/assets/img/2014/IMG_3326-2.jpg">
	</div>
<div class="slide" id="location">
	<div class="divider primary">
		<p>location</p>
	</div>
	<p class="content">We thank the <a href="http://www.fri.uni-lj.si/en/about/">Faculty of Computer and Information Science in Ljubljana</a> for hosting us. <br/><span class="strong">The Faculty is a leading research and teaching institution for information sciences</span> with several active research groups and distinguished alumni.</p>
		<div id="disapear-on-click">
			<p class="location-zoom">Click to zoom!</p>
		</div>
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2769.021058795885!2d14.472292399999999!3d46.0506782!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47652d52dfb93cd7%3A0xbfcd354b74411729!2sVe%C4%8Dna+pot+113%2C+1000+Ljubljana!5e0!3m2!1sen!2ssi!4v1408359697852" frameborder="0" style="border:0; width: 70%;
	height: 400px;"></iframe>
</div>
<div class="slide" id="partners">
	<div class="divider primary">
		<p>partners</p>
	</div>	
	<p class="content">
		<a href="http://www.fri.uni-lj.si/en/about/"><img class="responsive-image" src="/assets/img/fri-logo-2.png" /></a><br /><br />
		This event would not be possible without the generous help of <a href="http://www.fri.uni-lj.si/en/about/">Faculty of Computer and Information Science</a>.<br/>
		They host other relevant events. Check out their <a href="http://www.fri.uni-lj.si/si/novice_in_dogodki/aktivne/">event list</a> and <a href="http://www.fri.uni-lj.si/si/izobrazevanje/">different post-graduate study programmes.</a>
		<br /><br /><br />
		<a href="http://codecatz.github.io/"><img src="/assets/img/codecatz-logo.png" style="width:150px; height:auto;" /><br /><br /></a>
		<a href="http://codecatz.github.io/">CodeCatz</a> have been a huge help with our web site, and have given us a lot of ideas and encouragement.
	</p>
</div>

<!--  SPONSORS -->

<div class="slide" id="sponsors">
	<div class="divider primary">
		<p>sponsors</p>
	</div>
		<!--<div class="sponsors">
		{% for post in site.posts %}
			{% if post.role == 'sponsor' %}
			<div class="sponsors-one {{ post.permalink }}">
				<a href="{{ site.baseurl }}{{ post.url }}">
					<img src="{{ site.baseurl }}{{ post.image }}"/>
				</a>
				<div class="sponsor-one">
					<a href="{{ page.link }}">{{ page.homepage }}</a>
				</div>
			</div>
			{% endif %}
		{% endfor %}
		</div>-->
		<div class="content-sponsors">
		<div class="sponsors">
			<div class="sponsor-one marand">
				<a href="http://www.marand.si" target="_blank">
					<img src="{{ site.baseurl }}/assets/img/sponsors/marand.png"/>
				</a>
			</div>
				<div class="sponsor-one">
					Marand is a internationally recognized and awarded solution provider in healthcare offering products including Think!Med Clinical™, Think!EHR Platform and EhrScape.com. Our Think!EHR Platform™ is based on open standards and supports efficient recording, viewing and exchange of medical data. Think!EHR Platform™ was selected as one of the finalist for the best eHealth solution in EU »eHealth Competition«.
				<br /><br />
					As our our sucesses and awards grow, so does the need to expand our development team. Do you develop in Java? Are you familiar with J2EE, SOA, MVC and most popular IDE environments? Send us your CV to zaposlitve@marand.si and join our team. For other carreer opportunities, follow us on <a href="https://www.linkedin.com/company/marand">LinkedIn</a> or visit <a href="http://www.marand.si/zaposlitve">Marand.si/zaposlitve</a>.</br></br>
					<a href="http://www.marand.si">Marand.si</a>
				</div>
		</div>
		<div class="sponsors">
			<div class="sponsor-one celtra">
				<a href="http://celtra.com" target="_blank">
					<img src="{{ site.baseurl }}/assets/img/sponsors/celtra2.png" style="height:auto; width:200px;"/>
				</a>
			</div>
				<div class="sponsor-one">
					Celtra empowers agencies, media suppliers and brand leaders alike with an integrated, truly scalable cross-screen HTML5 technology for brand advertising on smartphones, tablets and desktop. AdCreator 4 is built to run large-scale and complex campaigns. It is a single platform for streamlined ad creation, performance optimized serving and consolidated reporting with common metrics across all screens.
					<br /><br />
					Celtra is one of the fastest growing companies in mobile advertising today. AdCreator 4, our award-winning platform for creating, serving and analysing mobile ads is used by Rovio, Time Inc., Google, Amazon, Yahoo, Weather Channel and many others.
					<br /><br />
					Our engineers spend their days building a product we all love and share a passion for, making mobile browsers jump through hoops, making big data look small and doing the humanity a favor by making it incredibly easy to build ads people actually tap on.
					<br /><br />
					Our offices in Ljubljana, Boston, San Francisco, New York, Los Angeles, Chicago, London and Tokyo are always full of talent, laughter, action, innovative ideas and snacks.
					</br></br>
					<a href="http://celtra.com">Celtra.com</a></br>
					<a href="http://celtra.com/about/blog">celtra.com/about/blog</a></br>
					<a href="https://twitter.com/celtramobile">@celtramobile</a>
				</div>
		</div>
	</div>
</div>

<!--  -->

<div class="slide" id="whattoexpect">
	<div class="divider primary">
		<p>What to expect</p>
	</div>	
	<div class="content">
		<div class="video">
			<p>Here is a short video recap from last year's Webcamp in Ljubljana!</p>
			<iframe width="100%" height="400" src="https://www.youtube.com/embed/FEnhyT9jJKU" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="photo-gallery">
			<p>And some photos...</p>
			<div class="photos">
				<div class="photos-one">
					<img src="{{ site.baseurl }}/assets/img/2014/IMG_3460.jpg">
				</div>
				<div class="photos-one">
					<img src="{{ site.baseurl }}/assets/img/2014/IMG_3351.jpg">
				</div>
				<div class="photos-one">
					<img src="{{ site.baseurl }}/assets/img/2014/IMG_3355.jpg">
				</div>
				<div class="photos-one">
					<img src="{{ site.baseurl }}/assets/img/2014/IMG_3375.jpg">
				</div>
				<div class="photos-one">
					<img src="{{ site.baseurl }}/assets/img/2014/IMG_3475.jpg">
				</div>
				<div class="photos-one">
					<img src="{{ site.baseurl }}/assets/img/2014/IMG_3485.jpg">
				</div>
			</ul>
		</div>
		<div class="outside-link">
			<a href="http://video.webcamp.si/">Watch last years talks! 
			</a>
		</div>
	</div>
	</div>
</div>
<div class="slide" id="team">
	<div class="divider primary">
			<p>team</p>
	</div>
	<div class="content">
		<strong>Team</strong>
		<ul style="list-style:none;">
			<li>Mojca Berce</li>
			<li>Marko Brumen</li>
			<li>Maša Černovšek Logar</li>
			<li>Jure Čuhalev</li>
			<li>Heidi Pungartnik</li>
			<li>Klemen Robnik</li>
			<li>Tina Rozman</li>
			<li>Nataša Šubelj</li>
		</ul>
		<strong>Talks Committee</strong>
		<ul style="list-style:none;">
			<li>Swizec Teller</li>
			<li>Bojan Vrhovnik</li>
			<li>Erika Pogorelc</li>
			<li>Srdjan Vranac</li>
		</ul>
	</div>
</div>
<div class="slide-transparent slide-contact" id="contact" >
	<div class="divider primary" id="contact">
		<p>contact</p>
	</div>
	<div class="content">
		<div class="contact">
			<a href="mailto:info@webcamp.si"><p>info@webcamp.si</p></a>
		</div>
		<div class="contact">
			<p>Phone: 041 893 765 (Jure Čuhalev)</p>
		</div>
		<div class="contact">
			<a href="#mailing">Subscribe to our mailing list!</a>
		</div>	
		<div class="social">
			<a href="https://twitter.com/webcampsi">
			<img src="{{ site.baseurl }}/assets/img/icons/twitter.svg" style="width:70px; height:70px;">
		</a>
		</div>
		<div class="social">
			<a href="https://www.facebook.com/webcamp.si">
			<img src="{{ site.baseurl }}/assets/img/icons/facebook-square.svg" style="width:70px; height:70px;">
		</a>
		</div>		
	</div>
</div>

{% include footer.html %}

</main>
