.about {
	margin-top: 0;
	background: $white-trans;
	width: 100%;
	padding: 0;

	.about-text {
		font: {
			size: 20px;
			weight: 300;
		}
		text-align: left;
		width: 90%;
		margin: 0 auto;
		padding: 10%;
		min-height: 600px;

		.strong {
			font-size:  24px;
			color: $primary-color;
		}
	}

	@include MQ(M) {
		.about-text {
			width: 80%;
		}
		.about {
			min-height: 800px;
		}
	}


	@include MQ(L) {
		.about-text {
			width: 80%;
		}
		.about {
			min-height: 1000px;
		}
	}
}

.cfp {
	margin-top:10em;

	.button-submit {

		width: 100%;
		height: auto;
		background-color:$primary-color;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
		margin-top:50px;

		p {
			font-size: 25px;
			text-align:center;
			padding: 15px;

			a {
				text-align:center;
				font-family:$body-font;
				color:white;
				font-weight:700;
			}
		}	

	&:hover  {
		background-color:$secondary-color;
	}
	}
}