.connect {
	margin: 5em 0;
	background: $white-trans;
	width: 100%;
	padding: 0;

	.connect-text {
		font: {
			size: 20px;
			weight: 300;
		}
		text-align: left;
		width: 90%;
		margin: 0 auto;
		padding: 10%;
		min-height: 600px;

		a {
			color: $primary-color;
			padding: 0 5px;
		}
	}

	@include MQ(M) {
		.connect-text {
			padding: 5%;
		}		
	}

	@include MQ(L) {
		.connect-text {
			padding: 5%;
<<<<<<< HEAD
=======
			text-align: center;
		}
	}

	.connect-div {
		width: 90%;
		position: relative;
		margin-left: 5%;
		display: inline;


		.connection {
			width: 70%;
			margin-top: 1%;
			margin-left: 15%;
			border: 3px solid $black;

			&:hover {
				background: $black;
			}

			a {
				color: $primary-color;

				&:hover {
					color: $off-white-color;
				}

				.projects-img {
					padding: 1em 3em;
				}

				.connection-description {				
					position: relative;
					display: block;
					width: 70%;
					margin: 0 auto;
					text-align: center;
					font-weight: 300;
				}		
			}
>>>>>>> 001a6363a799671b491d51188e6978e7143d8a90
		}
	}
}

