blockquote {
	background-color: #efefef;
	padding: 15px 35px;
	margin-left: 0;
	margin-right: 0;
	font-style: italic;
	line-height: 2;
}

.top-offset {
	padding-top: 60px;
}

.content{
	line-height: 2;
}