/* -------------------------------- 

Default style

-------------------------------- */

*, *:after, *:before {
	@include box-sizing(border-box);
}

body {
	/* remove default margin and padding of some browsers */
	margin: 0;
	padding: 0;

	overflow-x: hidden;
	font: {
		size: 100%;
		family: $body-font; // variables inside partials > _variables.scss
	}
	color: rgba($black, .7);
	background-color: rgba(255,255,255,0.8);

	&.overflow-hidden {
		/* when primary navigation is visible, the content in the background won't scroll */
		overflow: hidden;
	}
}

a {
	color: #fc3714;
	text-decoration: none;
}

/* -------------------------------- 

Modules

-------------------------------- */

.container { /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
	width: 90%;
	max-width: $M; // breakpoints inside partials > _layout.scss
	margin: 0 auto;
	@include clearfix;
}

/* -------------------------------- 

Main components 

-------------------------------- */

html, body {
	height: 100%;
	background-color: $background-color;
}

.logo {
	padding: 5px 0;
	display: block;
	position: fixed;
	z-index:100;
	visibility: hidden;
	top: 10px;

	img {
		display: block;	
		width: 100px;
		height: auto;
	}
}

@include MQ(M) {
	.logo{
		position: fixed;
		visibility: visible;
		margin-left: 2%;
	}
}

@include MQ(L) {
	.logo{
		position: fixed;
		visibility: visible;
		margin-left: 2%;
	}
}

.header {
	position: absolute;
	top: 0;
	right: 0;
	height: 120px;
	background-color: transparent;
	width: 100%;
	z-index: $header-zindex;
	@include font-smoothing;

	@include MQ(M) {
		@include transition(background-color .3s);

		/* Force Hardware Acceleration in WebKit */
		@include transform(translate3d(0,0,0));
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		background-color: $background-color;

		&.is-fixed {
			/* when the user scrolls down, we hide the header right above the viewport */
			position: fixed;
			top: -120px;
			-webkit-transition: -webkit-transform 0.3s;
			-moz-transition: -moz-transform 0.3s;
			transition: transform 0.3s;
		}

		&.is-visible {
			/* if the user changes the scrolling direction, we show the header */
			@include transform(translate3d(0,100%,0));
		}
	}

	@include MQ(L) {


		@include transition(background-color .3s);

		/* Force Hardware Acceleration in WebKit */
		@include transform(translate3d(0,0,0));
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		background-color: $background-color;

		&.is-fixed {
			/* when the user scrolls down, we hide the header right above the viewport */
			position: fixed;
			top: -120px;
			-webkit-transition: -webkit-transform 0.3s;
			-moz-transition: -moz-transform 0.3s;
			transition: transform 0.3s;
		}

		&.is-visible {
			/* if the user changes the scrolling direction, we show the header */
			@include transform(translate3d(0,100%,0));
		}
	}
}

.nav {
	width: 100%;
	position: fixed;
	bottom: 0;
	margin:0;
	right: 0;
	padding-right: 1em;
	text-align: center;
	background-color: $background-color;

	li {
		display: inline-block;
		margin-left: 1em;
		padding: 0.3em;
		margin-bottom:0;
	}

	a { 
		font: {
			family: $title-font;
			weight: 400;
			size: 12px;
		}
		display: inline-block;
		color: $primary-color;
		text-transform: uppercase;

		&:hover {
			color: white;
		}
	}
}

@include MQ(M) {
	.nav {
		padding-top:0;
		text-align: right;
		@include center(y);
	}

	ul{
		margin-top:0;
	}
}

@include MQ(L) {
	.nav {
		padding-top:0;
		text-align: right;
		@include center(y);
	}

	ul{
		margin-top:0;
	}
}

.back {
	@extend .nav;
	text-align: center;
	bottom:1em;
}

.intro {
	height: 140%;
	z-index: $content-zindex;
	@include font-smoothing;
	left: 0;

	.center-xs {
		height: 100px;
		position:relative;
		z-index:20;
		margin-top:0;
		@include center(x);
	}


	h1 {
		width: 100%;
		color: white;
		font-family: $title-font;
		font-size: 3em;
		font-weight: 300;
		text-align:center;
	}

	@include MQ(M) {
		h1 {
			font-size: 6em;
		}
	}

	h2 {
		padding: 0 1%;
		width: 100%;
		color: white;
		font-family: $title-font;
		font-size: 1.6em;
		text-align:center;
		font-weight:300;
	}

	@include MQ(M) {
		h2 {
			padding: 0 1%;
			font-size: 2.5em;
			top: 55%;
		}
	}

	@include MQ(L) {
		h2 {
			padding: 0 2%;
			font-size: 2.5em;
			top: 55%;	
		}
	}

	.form {
		background-color: transparent;
	
		#mc_embed_signup {
			font-size: 16px;

			form {
				padding-left: 0;
				padding-bottom:100px;
				margin-top:2em;

				h2 {
					font-family: $body-font;
					text-transform: none;
					font-weight:300;
					margin-top:5px;
					text-align: left;
				}

				.signup {
					width: 75%;
					max-width:600px;
					margin: 0 auto;
				}
			}

			.indicates-required {
				margin-top: 0;
				color: white;
				margin-right: 5%;
			}

			.mc-field-group {
				color: white;

				label {
					font-weight: lighter;
				}

				input {
					border: none;
					color: #c60;
					background-color: rgba(255,255,255,0.6);
			
					&:focus {
						background-color: rgba(255,255,255,0.9);
					}
				}
			}

			.button {
				background-color: $primary-color;
				margin: 15px 4% 10px 0;
				color: white;
				font-family:$title-font;
		
				&:hover {
					background-color: $secondary-color;
				}
			}		
		}
	}
}

.share-wrapper {
	margin-top: 20px;

	h2 {
		font-size: 1.4em;
	}
}

.main-content {
	position: absolute;
	width: 100%;
	left: 0;
	z-index: $content-zindex;
}

.slides {
	margin-top:100px;
}

.divider {
	height: 120px;
	width: 100%;
	position: relative;
	padding: 1em;

	p { 
		font: {
			family: $title-font;
			weight: 400;
			size: 3em;
		}
		display: block;
		color: white;
		text-align: center;
		line-height: 1;
		@include center(y);
	}

	@include MQ(M) {
		p {
			font-size: 3em;
			text-align: left;
			margin-left:110px;
		}
	}

	@include MQ(L) {
		p {
			font-size: 3em;
			text-align: left;
			margin-left:110px;
		}
	}
}

.divider-secondary {
	height: 60px;
	width: 100%;
	padding-top:60px;
	position: relative;
	overflow:hidden;
	background-color:$background-color;
}

.divider-photo {
	width:100%;
	position:relative;
	height:150px;
	z-index:0;
	overflow:hidden;

	img {
		width:100%;
		position: relative;
		@include center(y);
	}
}

@include MQ(M) {
	.divider-photo  {
		height:250px;
	}
}

@include MQ(L) {
	.divider-photo {
		height:250px;
	}
}

.centeredElement {
	position: relative;
	top:0;
	z-index:1;
}

@include MQ(M) {
	.centeredElement  {
		margin-top:15%;
	}
}

@include MQ(L) {
	.centeredElement  {
		margin-top:15%;
	}
}

.intro-cover {
	min-height: 100%;
  	min-width: 1024px;
  	width: 105%;
  	height: auto;
  	position: fixed;
  	top: 0;
  	margin-left: -10px;
  	overflow-x: hidden;
}

.responsive-image {
	width: 350px;
	max-width:100%;
}

.black {
	background: $black;
}

.primary {
	background: $primary-color;
}

#disapear-on-click {
	position: absolute;
	width: 70%;
	height: 400px;
	margin-bottom: 150px; 
	left: 15%; 
	background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.3);

	.location-zoom {
		right:5%;
		position:absolute;
		padding-top:60px;
		font-family: $title-font;
	}

	&:hover {
		background: rgba(255, 255, 255, 0.1);
	}
}

footer {
	text-align:left;

	.footer-links {
		position:relative;
		@include center(y);
	}
}
