.cover {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.intro {
	// position:absolute;
	margin-top: 7%;
	text-align:center;
	// left: 50%;
	// -webkit-transform: translateX(-50%);
	// -ms-transform: translateX(-50%);
	// transform: translateX(-50%);
	// margin: 0;

	.logo {
		height: 100px;
		width: auto;
		display: inline-block;
		margin-left: -105px;
	}

	.title-text {
		color: white;
		display: inline-block;
		vertical-align: middle;
		
		.title-1 {	
			font-size: 60px;
			line-height: 56px;
		}
		.title-2 {	
			font-size: 46px;
			line-height: 42px;
		}
	}

	.time {
		text-align:center;
		padding: 10px 0;	
				
		.time-small {
		font-size: 25px;
		line-height: 35px;
		}
		.time-big {	
			font-size: 27px;
		}
	}

	.form {
		margin-top: 20px;
		background-color: transparent;
	}

	#mc_embed_signup {
		font-size: 16px;

		form {
			padding-left: 0;
		}

		.indicates-required {
			margin-top: 0;
			color: white;
			margin-right: 5%;
		}

		.mc-field-group {
			color: white;

			label {
				font-weight: lighter;
			}

			input {
				border: none;
				color: #c60;
				background-color: rgba(255,255,255,0.6);
			
				&:focus {
					background-color: rgba(255,255,255,0.9);
				}
			}
		}
		
		.button {
			background-color: $primary-color;
			margin: 15px 4% 10px 0;
			color: white;
		
			&:hover {
				background-color: $secondary-color;
			}
		}		
	}
}

.share-wrapper {
	margin-top: 20px;

	h2 {
		font-size: 1.4em;
	}
}

.footer-wrapper {
	margin-top: 40px;

	a {
		color: #c60;
	}
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .cover {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }

  .intro {
	top:5%;

  		.logo {
			width:100%;
			text-align:center;
			margin-left: 0;
		}
	}
}

.btn-twitter {
	background-color: rgba(255,255,255,0.6);
	color: rgba($background-color, 0.95);

	&:hover {
		background-color: rgba(255,255,255,1);
		color: #55acee;
	}
}

.btn-facebook {
	background-color: rgba(255,255,255,0.6);
	color: rgba($background-color, 0.95);

	&:hover {
		background-color: rgba(255,255,255,1);
		color: #3b5998;
	}
}

.btn-google-plus {
	background-color: rgba(255,255,255,0.6);
	color: rgba($background-color, 0.95);

	&:hover {
		background-color: rgba(255,255,255,1);
		color: #dd4b39;
	}
}
