.location {
	margin-top: 5em;
	background: $white-trans;
	width: 100%;
	padding: 0;

	.location-text {
		font: {
			size: 20px;
			weight: 300;
		}
		text-align: left;
		width: 90%;
		margin: 0 auto;
		padding: 10%;
		min-height: 600px;

		.strong {
			font-size:  24px;
			color: $primary-color;
		}
	}

	@include MQ(M) {
		.location-text {
			width: 80%;
		}
		.location {
			min-height: 800px;
		}
	}


	@include MQ(L) {
		.location-text {
			width: 80%;
		}
		.location {
			min-height: 1000px;
		}
	}
}