* {
    box-sizing: -webkit-border-box;
    box-sizing: -moz-border-box;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden; 
}

ul {
    list-style-type: none;
    padding: 0 0 0 15px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.container-fluid {
    width: 100%;
    padding: 0;
}



section {
}


footer {
}