.members {
	padding-left:0;
	display:block;
	width:100%;
	text-align: center; 
	margin: 5% auto;
}

.members-one{
	display: inline-table;
	margin:2%;
	width: 13em;
	height: 13em;
	@include border-radius(6.5em);
	background-color:rgba($white-trans, .8);

	&:hover {
		background-color:rgba($white-trans, 1);
	}
}

.talk-info {
	position:relative;
	margin-top:50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

.member-name {
	font: {
		size: 0.9em;
		weight: 400;
	};
	color: $primary-color;
}

.talk-title {
	font: {
		size: 0.9em;
		weight: 300;
		family: $title-font;
	};
	padding: 0 0.75em;
	color: $background-color;
	position:relative;
}

.talk-role {
	font: {
		size: 0.7em;
		weight: 300;
	};
	color: $primary-color;
	position:relative;
}


