.cbp_tmtimeline {
	margin: 5% auto;
	padding: 0;
	list-style: none;
	position: relative;
	width: 90%;
} 

/* The line */
.cbp_tmtimeline:before {
	content: '';
	position: absolute;
	top: 30px;
	bottom: -100px;
	width: 5px;
	background: white;
	left: 15%;
	margin-left: -5px;
}

@include MQ(M) {
		.cbp_tmtimeline:before {
			left: 20%;
		}
	}


@include MQ(L) {
	.cbp_tmtimeline:before {
		left: 20%;		
	}
}


/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
	margin: 0 0 15px 25%;
	background: $white-trans;
	color: $background-color;
	padding: 1.5em;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	width:60%;
	text-align:left;
}

@include MQ(M) {
		.cbp_tmtimeline > li .cbp_tmlabel {
			padding: 2em;
		}
	}


	@include MQ(L) {
		.cbp_tmtimeline > li .cbp_tmlabel {
			padding: 2em;
		}
	}


.cbp_tmtimeline > li .cbp_tmlabel h2 { 
	margin-top: 0;
	padding: 0;
	color: $background-color;
	font-family:$title-font;
	font-weight:400;
	font-size:1em;
	line-height:1;
	text-align:left;

}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: $white-trans;
	border-width: 10px;
	top: 10px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: $white-trans;
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
	width: 20px;
	height: 20px;
	position: relative;
	color: #fff;
	background: $primary-color;
	border-radius: 50%;
	box-shadow: 0 0 0 5px white;
	left: 15%;
	top: 30px;
	margin: 0 0 0 -13px;
}

@include MQ(M) {
		.cbp_tmtimeline > li .cbp_tmicon {
			left: 20%;
		}
	}


@include MQ(L) {
	.cbp_tmtimeline > li .cbp_tmicon {
		left: 20%;		
	}
}

.talks-schedule {
	display: inline-block;
	margin: 15px 15px;

	ul {
		list-style:none;
		padding:0;
	}
}

.room {
	width: 30%;
	padding-left: 10px;
	padding-bottom: 5px;
}