.slide {
	margin-top: 0;
	background: $white-trans;
	width: 100%;
	padding: 0;
	text-align:center;

	.content{
		font: {
			size: 16px;
			weight: 300;
		}
		text-align: left;
		width: 90%;
		margin: 0 auto;
		padding: 10%;

		.strong {
			font-weight:  700;
		}
	}

	@include MQ(M) {
		.content {
			font-size: 20px;
			width: 80%;
		}
	}


	@include MQ(L) {
		.content {
			font-size: 20px;
			width: 80%;
		}
	}
}

.slide-transparent {
	@extend .slide;
	width:100%;
	background-color: transparent;
}

iframe {
	margin-bottom: 150px;
}

.button-submit {
	width: 80%;
	margin-left:10%;
	height: auto;
	background-color:$primary-color;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	margin-top:70px;

	p {
		font-size: 20px;
		text-align:center;
		padding: 15px;

		a {
			text-align:center;
			font-family:$body-font;
			color:white;
			font-weight:700;
		}
	}	

	&:hover  {
		background-color:$secondary-color;
	}
}

@include MQ(M) {
	.button-submit {
		width: 40%;
		margin-left:30%;
	}
}


@include MQ(L) {
	.button-submit{
		width: 40%;
		margin-left:30%;
	}
}

.photos {
	padding-left:0;
	display:block;
}

.photos-one {
	display: inline-block;
	width:100%;

	img {
		width: 100%;
		height: auto;
	}
}

@include MQ(M) {
	.photos-one {
		display: inline-block;
		width:49%;
	}
}


@include MQ(L) {
	.photos-one {
		display: inline-block;
		width:49%;
	}
}

.outside-link {
	margin-top:50px;
}

.second-paragraph {
	margin-top:140px;
}

.contact {
	display:block;
	margin-left:20px;

	p {
		color:$white-trans;
		font-weight:300;
	}

	a {
		color:$white-trans;
	}
}

.social {
	margin-top: 50px;
	margin-left:20px;
	display:inline-table;
	text-align:center;

	a {
		position:relative;
		display:block;
	}
}

.slide-contact {
	height: auto;
}




@include MQ(L) {
	.slide-contact {
		height: 1000px;
	}
}