.slide {
	margin-top: 0;
	background: $white-trans;
	width: 100%;
	padding: 0;
	text-align:center;

	.content{
		font: {
			size: 20px;
			weight: 300;
		}
		text-align: left;
		width: 90%;
		margin: 0 auto;
		padding: 10%;

		.strong {
			font-size:  24px;
			color: $primary-color;
		}
	}

	@include MQ(M) {
		.content {
			width: 80%;
		}
	}


	@include MQ(L) {
		.content {
			width: 80%;
		}
	}
}

iframe {
	margin-bottom: 150px;
}

.button-submit {
	width: 60%;
	margin-left:20%;
	height: auto;
	background-color:$primary-color;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	margin-top:70px;

	p {
		font-size: 20px;
		text-align:center;
		padding: 15px;

		a {
			text-align:center;
			font-family:$body-font;
			color:white;
			font-weight:700;
		}
	}	

	&:hover  {
		background-color:$secondary-color;
	}
}

.photos {
	padding-left:0;
	display:block;
}

.photos-one {
	display: inline-block;
	width:100%;

	img {
		width: 100%;
		height: auto;
	}
}

@include MQ(M) {
		.photos-one {
			display: inline-block;
			width:49%;
		}
	}


	@include MQ(L) {
		.photos-one {
			display: inline-block;
			width:49%;
		}
	}
.outside-link {
	margin-top:50px;
}



.second-paragraph {
	margin-top:140px;
}