.content-sponsors {
	padding: 100px 0;
}

.sponsors {
	padding:50px;
	position:relative;
	display:block;
	width:80%;
	margin-left:10%;
	text-align: left; 
}

@include MQ(L) {
	.sponsors {
		display:inline-table;
		width:40%;
		margin-left:0;
		padding:50px;
	}
}

.sponsor-one{
	display: block;
	margin-left: 0;
	height: auto;
	padding:10px 0;
	font-weight: 300;
	font-size:16px;

	img {
		height: auto;
		width: 400px;
		max-width:100%;
	}

	a {
		display: block;
	}
}


.sponsor-name {
	font: {
		size: 0.9em;
		weight: 400;
	};
	color: rgba($black, .7);
}
