.content-sponsors {
	padding: 100px 0;
}

.sponsors {
	padding:0 30px 30px;
	position:relative;
	display:block;
	width:90%;
	margin:0 auto;
	text-align: left;

	@include clearfix;
}

@include MQ(M) {
	.sponsors{
		width:70%;
	}
}

@include MQ(L) {
	.sponsors{
		width:70%;
		padding:30px;
	}
}


.sponsor-one{
	display: block;
	margin-left: 0;
	height: auto;
	padding:10px 0;
	font-weight: 300;
	font-size:16px;

	img {
		height: auto;
		width: 400px;
		max-width:100%;
	}

	a {
		display: inline-block;
	}
}

.sponsor-float-left {
	float: left;
	padding-right: 30px;
}

.sponsor-right-text {
	overflow: hidden;
}


.sponsor-name {
	font: {
		size: 0.9em;
		weight: 400;
	};
	color: rgba($black, .7);
}
