.sponsors {
	padding-left:0;
	display:block;
	width:100%;
	text-align: center; 
	margin: 0 auto;
}

.sponsors-one{
	display: inline-table;
	margin:2%;
	width: 14em;
	height: auto;
	padding-bottom:100px;

	img {
		width:200px;
		height:auto;
	}
}

.sponsor-name {
	font: {
		size: 0.9em;
		weight: 400;
	};
	color: rgba($black, .7);
}