.talks {
	margin-top: 5em;
	background: $white-trans;
	width: 100%;
	padding: 0;

	.talks-text {
		font: {
			size: 20px;
			weight: 300;
		}
		text-align: left;
		width: 90%;
		margin: 0 auto;
		padding: 10%;
		min-height: 200px;

		.strong {
			font-size:  24px;
			color: $primary-color;
		}
	}

	@include MQ(M) {
		.talks-text {
			width: 80%;
		}
		.talks {
			min-height: 800px;
		}
	}


	@include MQ(L) {
		.talks-text {
			width: 80%;
		}
		.talks {
			min-height: 1000px;
		}
	}

	.section-members {
		width: 100%;
		text-align: center;
		padding:2em 0;

		.member {
			width: 25%;
			display: inline-block;

			.member-name {
				font: {
				size: 20px;
				weight: 300;
				}
				text-align: left;
				width: 90%;
				margin: 0 auto;
				padding: 10%;
				color: $primary-color;	
			}
		}
	}
}