.talkers {
	padding-left:0;
	display:block;
	width:100%;
	text-align: center; 
	margin: 5% auto;
}

.talkers-one{
	display: inline-table;
	margin:2%;
	width: 14em;
	height: 12em;
	background-color:rgba($white-trans, 0);

	&:hover {
		background-color:rgba($white-trans, 0);
	}
}

.talker-name {
	font: {
		size: 0.9em;
		weight: 400;
	};
	color: $primary-color;
	background-color:rgba($white-trans, .8);
}




