.talks {
	position:relative;
	top:15%;
	padding-left:0;
	display:block;
	width:90%;
	text-align: left; 
	margin: 5% auto;
}

.talks-one{
	margin-top:5%;
	padding:20px;
	position:relative;
	left:10%;
	width: 80%;
	height: auto;
	background-color:rgba($white-trans, .7);
}

.talk-title {
	font: {
		size: 0.9em;
		weight: 300;
		family: $title-font;
	};
	padding: 0 0.25em;
	color: $white-trans;
	position:relative;
}


.talk-role {
	font: {
		size: 0.7em;
		weight: 300;
	};
	color: $white-trans;
	position:relative;
}

.talk-info {
	height:10em;
	position:relative;
	background-color:rgba($white-trans, .5);
	padding:10px;
}

.talker-page-name {
	margin-top:50px;
	font: {
		size: 1.3em;
		weight: 700;
		family: $body-font;
	};
	padding: 0.5em 0 0;
	color: $primary-color;
	position:relative;
}

.iot-talk-info {
	height:10em;
	position:relative;
	background-color:rgba($white-trans, .5);
	padding:0px;
}

.iot-project {
	font: {
		size: 1em;
		weight: 400;
	};
	color: $primary-color;
	background-color:rgba($white-trans, .8);
	padding:10px;
}

.iot-project-page {
	font: {
		size: 1.5em;
		weight: 700;
		family: $body-font;
	};
	padding: 0.5em 0 0;
	color: $primary-color;
	position:relative;
}

.iot-photo {
	width: 100%;
}
