.talks {
	position:relative;
	top:15%;
	padding-left:0;
	display:block;
	width:90%;
	text-align: left; 
	margin: 5% auto;
}

.talk-title {
	font: {
		size: 0.9em;
		weight: 300;
		family: $title-font;
	};
	padding: 0 0.25em;
	color: $white-trans;
	position:relative;
}

.talk-role {
	font: {
		size: 0.7em;
		weight: 300;
	};
	color: $white-trans;
	position:relative;
}

.talk-info {
	position:relative;
	background-color:rgba($white-trans, .5);
	padding:10px;
}


