---
layout: default
title: WebCamp Ljubljana 2015
---

<section class="intro">

	<div class="centeredElement" id="mailing">
			<h1>WebCamp</h1>
			<h2>Ljubljana 2015</h2>
			<h2>March 14th</h2>
				<img src="{{ site.baseurl }}/assets/img/logo.png" alt="Logo" class="center-xs">
	</div>
	<img src="{{ site.baseurl }}/assets/img/webcampimg.png" class="intro-cover preload">
	<div class='form'>
		<!-- Begin MailChimp Signup Form -->
		<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
		<style type="text/css">
			#mc_embed_signup{clear:left;}
		</style>
		<div id="mc_embed_signup" class="form u-futura-4 clearfix">
			<form action="//webcamp.us9.list-manage.com/subscribe/post?u=fe215c156a9c379ef50c7c68c&amp;id=18c5122cf2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		    	<div class="signup">
					<h2 class="mailinglist-title">Subscribe to Webcamp.si mailing list<br /> and get news about talks, tickets and parties.</h2>
					<div class="mc-field-group">
						<label for="mce-FNAME">First Name </label>
						<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
					</div>
					<div class="mc-field-group">
						<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
						</label>
						<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
					</div>
					<div id="mce-responses" class="clear">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
					</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		    		<div style="position: absolute; left: -5000px;">
		    			<input type="text" name="b_fe215c156a9c379ef50c7c68c_18c5122cf2" tabindex="-1" value="">
		    		</div>
		    		<div class="clear">
		    			<input type="submit" value="Subscribe" name="subscribe" class="button pull-right">
		    		</div>
		    	</div>
			</form>
		</div>
		<!--End mc_embed_signup-->ß
	</div>	
		
</section>
<main class="main-content">	

		{{ content }}
		
</main>